.form-control-drp {
  cursor: pointer;
  min-width: 100px;
  // padding-top: 40px;
}



.drop-down-window {
  z-index: 101;
  position: absolute;
  box-shadow: var(--box-shadow-dep-3);
  height: 150px;
  background-color: #ffffff;
  border: 1px soid #e0e0e0;
  transform: translateY(300%);
  animation: dropDownOpen 0.2s linear forwards;
}

.drop-down-window.close {
  animation: dropDownClose 0.15s linear forwards;
}

@keyframes dropDownClose {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20%);
  }
}

@keyframes dropDownOpen {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(0%);

  }
}

.form-control-drp-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.form-control-drp-icon:after {
  content: "";
  border-bottom: 1px solid;
  border-left: 1px solid;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

.form-control-drp>div {
  padding-left: 40px;
}

.form-control-drp .form-control-delete {
  left: 24px;
}
